In [24]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [25]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis = 1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [26]:
# Look at APPLICATION_TYPE value counts for binning
applicationtype_counts = application_df.APPLICATION_TYPE.value_counts()
applicationtype_counts

# Determine which values to replace if counts are less than ...?
replace_application = list(applicationtype_counts[applicationtype_counts < 50].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

In [27]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

# Determine which values to replace if counts are less than ..?
replace_class = list(classification_counts[classification_counts < 100].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [28]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\mtims\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [29]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\mtims\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [30]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\mtims\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 120
hidden_nodes_layer2 = 90
hidden_nodes_layer3 = 60

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 120)               6240

 dense_5 (Dense)             (None, 90)                10890

 dense_6 (Dense)             (None, 60)                5460

 dense_7 (Dense)             (None, 1)                 61

=================================================================
Total params: 22,651
Trainable params: 22,651
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=150)

Epoch 1/150
804/804 [==============================] - 4s 4ms/step - loss: 0.8955 - accuracy: 0.7028
Epoch 2/150
804/804 [==============================] - 3s 4ms/step - loss: 0.7757 - accuracy: 0.7119
Epoch 3/150
804/804 [==============================] - 3s 4ms/step - loss: 0.8246 - accuracy: 0.7140
Epoch 4/150
804/804 [==============================] - 3s 4ms/step - loss: 0.8163 - accuracy: 0.7128
Epoch 5/150
804/804 [==============================] - 3s 4ms/step - loss: 0.7468 - accuracy: 0.7200
Epoch 6/150
804/804 [==============================] - 3s 4ms/step - loss: 0.7560 - accuracy: 0.7216
Epoch 7/150
804/804 [==============================] - 3s 4ms/step - loss: 0.7006 - accuracy: 0.7133
Epoch 8/150
804/804 [==============================] - 3s 4ms/step - loss: 0.7000 - accuracy: 0.7206
Epoch 9/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6932 - accuracy: 0.7262
Epoch 10/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6820 - accuracy: 0.7179
Epoch 11/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6581 - accuracy: 0.7270
Epoch 12/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6372 - accuracy: 0.7242
Epoch 13/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6158 - accuracy: 0.7257
Epoch 14/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6183 - accuracy: 0.7230
Epoch 15/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6134 - accuracy: 0.7273
Epoch 16/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6122 - accuracy: 0.7282
Epoch 17/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6104 - accuracy: 0.7158
Epoch 18/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6183 - accuracy: 0.7198
Epoch 19/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6049 - accuracy: 0.7285
Epoch 20/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5955 - accuracy: 0.7332
Epoch 21/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5957 - accuracy: 0.7255
Epoch 22/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6065 - accuracy: 0.7279
Epoch 23/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5968 - accuracy: 0.7310
Epoch 24/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6022 - accuracy: 0.7318
Epoch 25/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5852 - accuracy: 0.7221
Epoch 26/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6195 - accuracy: 0.7268
Epoch 27/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6392 - accuracy: 0.7269
Epoch 28/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5812 - accuracy: 0.7298
Epoch 29/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5873 - accuracy: 0.7233
Epoch 30/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5993 - accuracy: 0.7276
Epoch 31/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5924 - accuracy: 0.7353
Epoch 32/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6074 - accuracy: 0.7138
Epoch 33/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5861 - accuracy: 0.7320
Epoch 34/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5778 - accuracy: 0.7341
Epoch 35/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5739 - accuracy: 0.7347
Epoch 36/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5782 - accuracy: 0.7339
Epoch 37/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6023 - accuracy: 0.7171
Epoch 38/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5789 - accuracy: 0.7327
Epoch 39/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5881 - accuracy: 0.7350
Epoch 40/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5926 - accuracy: 0.7209
Epoch 41/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5896 - accuracy: 0.7316
Epoch 42/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5843 - accuracy: 0.7288
Epoch 43/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6015 - accuracy: 0.7358
Epoch 44/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5979 - accuracy: 0.7333
Epoch 45/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5811 - accuracy: 0.7349
Epoch 46/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5783 - accuracy: 0.7371
Epoch 47/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6141 - accuracy: 0.7143
Epoch 48/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5927 - accuracy: 0.7275
Epoch 49/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5942 - accuracy: 0.7081
Epoch 50/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5719 - accuracy: 0.7309
Epoch 51/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5697 - accuracy: 0.7357
Epoch 52/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6006 - accuracy: 0.7111
Epoch 53/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5703 - accuracy: 0.7325
Epoch 54/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5680 - accuracy: 0.7335
Epoch 55/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5701 - accuracy: 0.7346
Epoch 56/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5687 - accuracy: 0.7283
Epoch 57/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5619 - accuracy: 0.7365
Epoch 58/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5817 - accuracy: 0.7363
Epoch 59/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5812 - accuracy: 0.7341
Epoch 60/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5819 - accuracy: 0.7375
Epoch 61/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5932 - accuracy: 0.7331
Epoch 62/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5776 - accuracy: 0.7350
Epoch 63/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5781 - accuracy: 0.7307
Epoch 64/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5714 - accuracy: 0.7374
Epoch 65/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5819 - accuracy: 0.7333
Epoch 66/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5708 - accuracy: 0.7337
Epoch 67/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5646 - accuracy: 0.7350
Epoch 68/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5616 - accuracy: 0.7370
Epoch 69/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5600 - accuracy: 0.7365
Epoch 70/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5981 - accuracy: 0.7156
Epoch 71/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5685 - accuracy: 0.7287
Epoch 72/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5695 - accuracy: 0.7377
Epoch 73/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5618 - accuracy: 0.7386
Epoch 74/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5780 - accuracy: 0.7267
Epoch 75/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5804 - accuracy: 0.7391
Epoch 76/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5805 - accuracy: 0.7350
Epoch 77/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5961 - accuracy: 0.7259
Epoch 78/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6002 - accuracy: 0.7031
Epoch 79/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5696 - accuracy: 0.7331
Epoch 80/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5713 - accuracy: 0.7363
Epoch 81/150

804/804 [==============================] - 3s 4ms/step - loss: 0.5829 - accuracy: 0.7382
Epoch 82/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5794 - accuracy: 0.7352
Epoch 83/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5660 - accuracy: 0.7388
Epoch 84/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5748 - accuracy: 0.7349
Epoch 85/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5808 - accuracy: 0.7232
Epoch 86/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5951 - accuracy: 0.7204
Epoch 87/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5655 - accuracy: 0.7380
Epoch 88/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5614 - accuracy: 0.7385
Epoch 89/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5730 - accuracy: 0.7295
Epoch 90/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5578 - accuracy: 0.7378
Epoch 91/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5587 - accuracy: 0.7356
Epoch 92/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5531 - accuracy: 0.7385
Epoch 93/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6016 - accuracy: 0.7037
Epoch 94/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5644 - accuracy: 0.7360
Epoch 95/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5606 - accuracy: 0.7391
Epoch 96/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5597 - accuracy: 0.7384
Epoch 97/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5816 - accuracy: 0.7154
Epoch 98/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5822 - accuracy: 0.7263
Epoch 99/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5535 - accuracy: 0.7382
Epoch 100/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5553 - accuracy: 0.7387
Epoch 101/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5560 - accuracy: 0.7387
Epoch 102/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5600 - accuracy: 0.7396
Epoch 103/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5614 - accuracy: 0.7377
Epoch 104/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5633 - accuracy: 0.7325
Epoch 105/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5568 - accuracy: 0.7390
Epoch 106/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5571 - accuracy: 0.7388
Epoch 107/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5593 - accuracy: 0.7328
Epoch 108/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5669 - accuracy: 0.7395
Epoch 109/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6117 - accuracy: 0.7067
Epoch 110/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5663 - accuracy: 0.7386
Epoch 111/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5901 - accuracy: 0.7191
Epoch 112/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5682 - accuracy: 0.7388
Epoch 113/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5662 - accuracy: 0.7385
Epoch 114/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5580 - accuracy: 0.7387
Epoch 115/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5582 - accuracy: 0.7396
Epoch 116/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5612 - accuracy: 0.7402
Epoch 117/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5597 - accuracy: 0.7400
Epoch 118/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5687 - accuracy: 0.7274
Epoch 119/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5555 - accuracy: 0.7402
Epoch 120/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5701 - accuracy: 0.7291
Epoch 121/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5551 - accuracy: 0.7396
Epoch 122/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5640 - accuracy: 0.7367
Epoch 123/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5545 - accuracy: 0.7395
Epoch 124/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5596 - accuracy: 0.7338
Epoch 125/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5521 - accuracy: 0.7392: 0s - loss: 0.551
Epoch 126/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5677 - accuracy: 0.7304
Epoch 127/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5592 - accuracy: 0.7388
Epoch 128/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5920 - accuracy: 0.7268
Epoch 129/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6342 - accuracy: 0.7140
Epoch 130/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6030 - accuracy: 0.7371
Epoch 131/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6063 - accuracy: 0.7318
Epoch 132/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5576 - accuracy: 0.7409
Epoch 133/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5742 - accuracy: 0.7394
Epoch 134/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5736 - accuracy: 0.7394
Epoch 135/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5785 - accuracy: 0.7264
Epoch 136/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5686 - accuracy: 0.7381
Epoch 137/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5640 - accuracy: 0.7401
Epoch 138/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5719 - accuracy: 0.7399
Epoch 139/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5880 - accuracy: 0.7395
Epoch 140/150
804/804 [==============================] - 4543s 6s/step - loss: 0.5843 - accuracy: 0.7390A: 5:08 - loss: 0.5850 - accuracy: 0.
Epoch 141/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5889 - accuracy: 0.7337
Epoch 142/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5807 - accuracy: 0.7410
Epoch 143/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5841 - accuracy: 0.7234
Epoch 144/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5697 - accuracy: 0.7313
Epoch 145/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5611 - accuracy: 0.7400
Epoch 146/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5552 - accuracy: 0.7414
Epoch 147/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5674 - accuracy: 0.7393
Epoch 148/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5669 - accuracy: 0.7409
Epoch 149/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5630 - accuracy: 0.7390
Epoch 150/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5601 - accuracy: 0.7400

In [35]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6062 - accuracy: 0.7242 - 994ms/epoch - 4ms/step
Loss: 0.6062215566635132, Accuracy: 0.7241982221603394

In [36]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")