In [12]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [13]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis = 1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [14]:
# Look at APPLICATION_TYPE value counts for binning
applicationtype_counts = application_df.APPLICATION_TYPE.value_counts()
applicationtype_counts

# Determine which values to replace if counts are less than ...?
replace_application = list(applicationtype_counts[applicationtype_counts < 50].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

In [16]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

# Determine which values to replace if counts are less than ..?
replace_class = list(classification_counts[classification_counts < 100].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [17]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\mtims\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [18]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\mtims\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\mtims\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 120
hidden_nodes_layer2 = 90
hidden_nodes_layer3 = 60

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 120)               5400

 dense_1 (Dense)             (None, 90)                10890

 dense_2 (Dense)             (None, 60)                5460

 dense_3 (Dense)             (None, 1)                 61

=================================================================
Total params: 21,811
Trainable params: 21,811
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=150)

Epoch 1/150
804/804 [==============================] - 4s 4ms/step - loss: 0.7865 - accuracy: 0.6962
Epoch 2/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6733 - accuracy: 0.7137
Epoch 3/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6658 - accuracy: 0.7170
Epoch 4/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6523 - accuracy: 0.7226
Epoch 5/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6182 - accuracy: 0.7249
Epoch 6/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6290 - accuracy: 0.7166
Epoch 7/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6029 - accuracy: 0.7219
Epoch 8/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6110 - accuracy: 0.7159
Epoch 9/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6059 - accuracy: 0.7274
Epoch 10/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5834 - accuracy: 0.7302
Epoch 11/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6068 - accuracy: 0.7302
Epoch 12/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5870 - accuracy: 0.7309
Epoch 13/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5871 - accuracy: 0.7309
Epoch 14/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5847 - accuracy: 0.7261
Epoch 15/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5826 - accuracy: 0.7294
Epoch 16/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5826 - accuracy: 0.7287
Epoch 17/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5972 - accuracy: 0.7205
Epoch 18/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5837 - accuracy: 0.7289
Epoch 19/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5954 - accuracy: 0.7182
Epoch 20/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5811 - accuracy: 0.7287
Epoch 21/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5776 - accuracy: 0.7273
Epoch 22/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5754 - accuracy: 0.7297: 0s - l
Epoch 23/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5684 - accuracy: 0.7269
Epoch 24/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5761 - accuracy: 0.7244
Epoch 25/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5933 - accuracy: 0.7230: 0s - loss: 0.5920 - ac
Epoch 26/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5716 - accuracy: 0.7321
Epoch 27/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5792 - accuracy: 0.7254
Epoch 28/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5720 - accuracy: 0.7317
Epoch 29/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5636 - accuracy: 0.7337
Epoch 30/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5618 - accuracy: 0.7325
Epoch 31/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5612 - accuracy: 0.7339
Epoch 32/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5699 - accuracy: 0.7313
Epoch 33/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5722 - accuracy: 0.7332
Epoch 34/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5659 - accuracy: 0.7331
Epoch 35/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5675 - accuracy: 0.7303
Epoch 36/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5663 - accuracy: 0.7265
Epoch 37/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5652 - accuracy: 0.7314
Epoch 38/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5933 - accuracy: 0.7105
Epoch 39/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5726 - accuracy: 0.7270
Epoch 40/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5704 - accuracy: 0.7319
Epoch 41/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5912 - accuracy: 0.7190
Epoch 42/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5645 - accuracy: 0.7334
Epoch 43/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5694 - accuracy: 0.7352
Epoch 44/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5634 - accuracy: 0.7353
Epoch 45/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5630 - accuracy: 0.7358
Epoch 46/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5702 - accuracy: 0.7329
Epoch 47/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5694 - accuracy: 0.7348
Epoch 48/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5715 - accuracy: 0.7338
Epoch 49/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5745 - accuracy: 0.7336
Epoch 50/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5770 - accuracy: 0.7304
Epoch 51/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5797 - accuracy: 0.7337
Epoch 52/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5774 - accuracy: 0.7331
Epoch 53/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5749 - accuracy: 0.7339
Epoch 54/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5735 - accuracy: 0.7337
Epoch 55/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5940 - accuracy: 0.7175
Epoch 56/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5840 - accuracy: 0.7315
Epoch 57/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6006 - accuracy: 0.7336
Epoch 58/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5852 - accuracy: 0.7324
Epoch 59/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5700 - accuracy: 0.7352
Epoch 60/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5949 - accuracy: 0.7096
Epoch 61/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5778 - accuracy: 0.7353
Epoch 62/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5815 - accuracy: 0.7357
Epoch 63/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5881 - accuracy: 0.7354
Epoch 64/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5671 - accuracy: 0.7368
Epoch 65/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5831 - accuracy: 0.7245
Epoch 66/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5805 - accuracy: 0.7277
Epoch 67/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5704 - accuracy: 0.7358
Epoch 68/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5689 - accuracy: 0.7374
Epoch 69/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5854 - accuracy: 0.7232
Epoch 70/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5698 - accuracy: 0.7365
Epoch 71/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5926 - accuracy: 0.7139
Epoch 72/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5685 - accuracy: 0.7360
Epoch 73/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5671 - accuracy: 0.7368
Epoch 74/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5578 - accuracy: 0.7378
Epoch 75/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5631 - accuracy: 0.7368
Epoch 76/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5583 - accuracy: 0.7358
Epoch 77/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5686 - accuracy: 0.7365
Epoch 78/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5800 - accuracy: 0.7371
Epoch 79/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5756 - accuracy: 0.7333
Epoch 80/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5665 - accuracy: 0.7378
Epoch 81/150

804/804 [==============================] - 3s 4ms/step - loss: 0.6176 - accuracy: 0.7378
Epoch 82/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5723 - accuracy: 0.7379
Epoch 83/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5661 - accuracy: 0.7370
Epoch 84/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5675 - accuracy: 0.7372
Epoch 85/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5847 - accuracy: 0.7379
Epoch 86/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5708 - accuracy: 0.7381
Epoch 87/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5845 - accuracy: 0.7259
Epoch 88/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5942 - accuracy: 0.7364
Epoch 89/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5748 - accuracy: 0.7364
Epoch 90/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5647 - accuracy: 0.7371
Epoch 91/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5684 - accuracy: 0.7257
Epoch 92/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5601 - accuracy: 0.7388
Epoch 93/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5693 - accuracy: 0.7264
Epoch 94/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5584 - accuracy: 0.7386
Epoch 95/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5734 - accuracy: 0.7380
Epoch 96/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5754 - accuracy: 0.7378
Epoch 97/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6011 - accuracy: 0.7353
Epoch 98/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5871 - accuracy: 0.7379
Epoch 99/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5682 - accuracy: 0.7378
Epoch 100/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5756 - accuracy: 0.7292
Epoch 101/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5702 - accuracy: 0.7399
Epoch 102/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5566 - accuracy: 0.7372
Epoch 103/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5592 - accuracy: 0.7387
Epoch 104/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5586 - accuracy: 0.7392
Epoch 105/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5705 - accuracy: 0.7392
Epoch 106/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5790 - accuracy: 0.7264
Epoch 107/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5757 - accuracy: 0.7386
Epoch 108/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5717 - accuracy: 0.7390
Epoch 109/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5821 - accuracy: 0.7399
Epoch 110/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6253 - accuracy: 0.7386
Epoch 111/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6228 - accuracy: 0.7387
Epoch 112/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6023 - accuracy: 0.7377
Epoch 113/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5988 - accuracy: 0.7378
Epoch 114/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6002 - accuracy: 0.7397
Epoch 115/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5891 - accuracy: 0.7387
Epoch 116/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5884 - accuracy: 0.7388
Epoch 117/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6096 - accuracy: 0.7392
Epoch 118/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6350 - accuracy: 0.7337
Epoch 119/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5612 - accuracy: 0.7389
Epoch 120/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5788 - accuracy: 0.7392
Epoch 121/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6069 - accuracy: 0.6982
Epoch 122/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5766 - accuracy: 0.7376
Epoch 123/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5605 - accuracy: 0.7388
Epoch 124/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5672 - accuracy: 0.7239
Epoch 125/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5613 - accuracy: 0.7366
Epoch 126/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5738 - accuracy: 0.7376
Epoch 127/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5676 - accuracy: 0.7391
Epoch 128/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5694 - accuracy: 0.7367
Epoch 129/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5531 - accuracy: 0.7395
Epoch 130/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5582 - accuracy: 0.7383
Epoch 131/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5801 - accuracy: 0.7397
Epoch 132/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5819 - accuracy: 0.7394
Epoch 133/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5806 - accuracy: 0.7367
Epoch 134/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5616 - accuracy: 0.7388
Epoch 135/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5663 - accuracy: 0.7379
Epoch 136/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5697 - accuracy: 0.7383
Epoch 137/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5621 - accuracy: 0.7393
Epoch 138/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5721 - accuracy: 0.7263
Epoch 139/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5665 - accuracy: 0.7378
Epoch 140/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5611 - accuracy: 0.7402
Epoch 141/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5600 - accuracy: 0.7388
Epoch 142/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5743 - accuracy: 0.7407
Epoch 143/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5615 - accuracy: 0.7395
Epoch 144/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5744 - accuracy: 0.7381
Epoch 145/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5727 - accuracy: 0.7381
Epoch 146/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5574 - accuracy: 0.7393
Epoch 147/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5618 - accuracy: 0.7383
Epoch 148/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5845 - accuracy: 0.7396
Epoch 149/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5721 - accuracy: 0.7390
Epoch 150/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5618 - accuracy: 0.7373